{% block _geo_detection_modal_widget %}
    <div data-page-component-module="aligentgeodetection/js/app/components/geo-detection-modal-component"
         data-page-component-options="{{ redirectionConfig|json_encode }}">
    </div>
{% endblock %}